<section class="not-found-container">
    <div class="not-found-content">
        <h2 class="error-code">
            <span class="number">4</span>
            <mat-icon class="error-icon">error</mat-icon>
            <span class="number">4</span>
        </h2>
        <h3 class="error-title">Oops! Parece que estás perdido.</h3>
        <p class="error-message">La página que buscas no fue encontrada.</p>
        <button mat-raised-button color="primary" class="home-button" [routerLink]="['/home']">
            Regresar Home
        </button>
    </div>
</section>
